In [1]:
# import dependencies
import pandas as pd

In [2]:
data = pd.read_csv("List of Every Video Game Ever.txt", sep ="\t", error_bad_lines=False)
data

b'Skipping line 3082: expected 1 fields, saw 2\nSkipping line 4041: expected 1 fields, saw 2\nSkipping line 11051: expected 1 fields, saw 2\nSkipping line 12853: expected 1 fields, saw 2\nSkipping line 19296: expected 1 fields, saw 2\nSkipping line 22342: expected 1 fields, saw 2\nSkipping line 22390: expected 1 fields, saw 2\nSkipping line 23124: expected 1 fields, saw 2\nSkipping line 30590: expected 1 fields, saw 2\nSkipping line 37519: expected 1 fields, saw 2\nSkipping line 41284: expected 1 fields, saw 2\nSkipping line 42382: expected 1 fields, saw 2\nSkipping line 43425: expected 1 fields, saw 2\nSkipping line 45026: expected 1 fields, saw 2\nSkipping line 47250: expected 1 fields, saw 2\nSkipping line 48613: expected 1 fields, saw 2\nSkipping line 49161: expected 1 fields, saw 2\nSkipping line 49162: expected 1 fields, saw 2\nSkipping line 49163: expected 1 fields, saw 2\nSkipping line 50683: expected 1 fields, saw 2\nSkipping line 51192: expected 1 fields, saw 2\nSkipping line 52571: expected 1 fields, saw 2\nSkipping line 53903: expected 1 fields, saw 2\nSkipping line 55432: expected 1 fields, saw 2\nSkipping line 56594: expected 1 fields, saw 2\nSkipping line 58202: expected 1 fields, saw 2\nSkipping line 59083: expected 1 fields, saw 2\nSkipping line 62245: expected 1 fields, saw 2\nSkipping line 63739: expected 1 fields, saw 2\nSkipping line 68759: expected 1 fields, saw 2\nSkipping line 72559: expected 1 fields, saw 2\nSkipping line 75381: expected 1 fields, saw 2\nSkipping line 75391: expected 1 fields, saw 2\nSkipping line 75401: expected 1 fields, saw 2\nSkipping line 78793: expected 1 fields, saw 2\nSkipping line 83280: expected 1 fields, saw 2\nSkipping line 85842: expected 1 fields, saw 2\nSkipping line 87731: expected 1 fields, saw 2\nSkipping line 90301: expected 1 fields, saw 2\nSkipping line 96030: expected 1 fields, saw 2\nSkipping line 96287: expected 1 fields, saw 2\nSkipping line 96932: expected 1 fields, saw 2\nSkipping line 96966: expected 1 fields, saw 2\nSkipping line 99947: expected 1 fields, saw 4\nSkipping line 99948: expected 1 fields, saw 4\nSkipping line 99949: expected 1 fields, saw 4\nSkipping line 99950: expected 1 fields, saw 4\nSkipping line 99951: expected 1 fields, saw 4\nSkipping line 99952: expected 1 fields, saw 4\nSkipping line 99953: expected 1 fields, saw 4\nSkipping line 99954: expected 1 fields, saw 4\nSkipping line 99955: expected 1 fields, saw 4\nSkipping line 99956: expected 1 fields, saw 4\nSkipping line 99957: expected 1 fields, saw 4\nSkipping line 99958: expected 1 fields, saw 4\nSkipping line 99959: expected 1 fields, saw 4\nSkipping line 99960: expected 1 fields, saw 4\nSkipping line 99961: expected 1 fields, saw 4\nSkipping line 99962: expected 1 fields, saw 4\nSkipping line 99963: expected 1 fields, saw 4\nSkipping line 99964: expected 1 fields, saw 4\nSkipping line 99965: expected 1 fields, saw 4\nSkipping line 99966: expected 1 fields, saw 4\nSkipping line 100750: expected 1 fields, saw 10\nSkipping line 131563: expected 1 fields, saw 2\n'

                                                    title
0       002: Agent Double (Agent 002;Agent 1) (1985, A...
1                               005 (1981, Sega) (Arcade)
2       007 - Licence to Kill (1989, Domark) (ZX Spect...
3       007 From Russia With Love (007: Russia Yori Ai...
4       007 From Russia With Love (From Russia With Lo...
...                                                   ...
149551                                               Zyrx
149552                                             Zythum
149553                                               Zyto
149554             The Zzap! 64 Sizzler Collection: Vol I
149555                      Zzap! Sizzlers II: Star Games

[149556 rows x 1 columns]

In [3]:
# Remove Bad Title Formats
formatted = []
accepted_text = ''
for i in range(len(data)):
    text = data.iloc[i]['title']
    if '(Xbox)' in text:
        accepted_text = text
    elif '(X360)' in text:
        accepted_text = text
    elif '(Xbox One)' in text:
        accepted_text = text
    elif '(PS1)' in text:
        accepted_text = text
    elif '(PS2)' in text:
        accepted_text = text
    elif '(PS3)' in text:
        accepted_text = text
    elif '(PS4)' in text:
        accepted_text = text
    elif '(SNES)' in text:
        accepted_text = text
    elif '(Atari 2600)' in text:
        accepted_text = text
    elif '(Mega Drive / Genesis)' in text:
        accepted_text = text
    elif '(GBA)' in text:
        accepted_text = text
    elif '(Game Boy)' in text:
        accepted_text = text
    elif '(GameCube)' in text:
        accepted_text = text
    elif '(Wii)' in text:
        accepted_text = text
    if '•' in accepted_text:
        continue
    if '[' in accepted_text:
        continue
    if '–' in accepted_text:
        continue
    sep = '('
    accepted_text = accepted_text.split(sep, 1)[0]
    if '!' in accepted_text:
        continue
    elif '#' in accepted_text:
        continue
    if '�' in accepted_text:
        continue
    if '?' in accepted_text:
        continue
    if ')' in accepted_text:
        continue
    formatted.append(accepted_text)

titles = pd.DataFrame(formatted).drop_duplicates().reset_index(drop=True).iloc[1:]
titles.columns = ['title']
titles

                                    title
1              007 From Russia With Love
2                            007 Legends
3                             007 Racing
4                         007: NightFire
5           007: The World is Not Enough
...                                   ...
15492                      Zumba Fitness
15493                 Zumba Fitness Core
15494          Zumba Fitness World Party
15495  Zutto Issho: With Me Everytime...
15496        ZXE-D: Legend of Plasmalite

[15496 rows x 1 columns]

In [4]:
# Scrape wiki site for playstation4 A through L titles
url = 'https://en.wikipedia.org/wiki/List_of_PlayStation_4_games'
# Use pandas to read for tables
sony4AL_titles = pd.read_html(url)[1]['Title']

# Remove Bad Title Formats
formatted_titles = []
accepted_text = ''
for i in range(len(sony4AL_titles)):
    accepted_text = sony4AL_titles.iloc[i]['Title']
    if '•' in accepted_text:
        continue
    if '[' in accepted_text:
        continue
    if '–' in accepted_text:
        continue
    sep = '('
    accepted_text = accepted_text.split(sep, 1)[0]
    if '!' in accepted_text:
        continue
    elif '#' in accepted_text:
        continue
    if '�' in accepted_text:
        continue
    if '?' in accepted_text:
        continue
    if ')' in accepted_text:
        continue
    formatted_titles.append(accepted_text)
    
sony4AL = pd.DataFrame(formatted_titles).drop_duplicates().reset_index(drop=True).iloc[1:]
sony4AL.columns = ['title']
sony4AL

                                title
1                    100ft Robot Golf
2                     101 Ways to Die
3              11-11: Memories Retold
4             13 Sentinels: Aegis Rim
5                                 140
...                               ...
1412  Lovers in a Dangerous Spacetime
1413               Lumines Remastered
1414                           Lumini
1415                             Lumo
1416                             Luna

[1416 rows x 1 columns]

In [5]:
# Scrape wiki site for playstation4 A through L titles
url = 'https://en.wikipedia.org/wiki/List_of_PlayStation_4_games_(M%E2%80%93Z)'
# Use pandas to read for tables
sony4MZ_titles = pd.read_html(url)[1]['Title']

# Remove Bad Title Formats
formatted_titles = []
accepted_text = ''
for i in range(len(sony4MZ_titles)):
    accepted_text = sony4MZ_titles.iloc[i]['Title']
    if '•' in accepted_text:
        continue
    if '[' in accepted_text:
        continue
    if '–' in accepted_text:
        continue
    sep = '('
    accepted_text = accepted_text.split(sep, 1)[0]
    if '!' in accepted_text:
        continue
    elif '#' in accepted_text:
        continue
    if '�' in accepted_text:
        continue
    if '?' in accepted_text:
        continue
    if ')' in accepted_text:
        continue    
    formatted_titles.append(accepted_text)
    
sony4MZ = pd.DataFrame(formatted_titles).drop_duplicates().reset_index(drop=True).iloc[1:]
sony4MZ.columns = ['title']
sony4MZ

                                title
1                             Mad Max
2                    Mad Tower Tycoon
3                       Madden NFL 15
4                       Madden NFL 16
5                       Madden NFL 17
...                               ...
1421              Zombie Army Trilogy
1422          Zombie Army 4: Dead War
1423  Zombie Driver: Immortal Edition
1424                   Zombie Vikings
1425                           Zotrix

[1425 rows x 1 columns]

In [6]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, sony4AL]).drop_duplicates().reset_index(drop=True)
titles = pd.concat([titles, sony4MZ]).drop_duplicates().reset_index(drop=True)
titles

                                 title
0           007 From Russia With Love
1                         007 Legends
2                          007 Racing
3                      007: NightFire
4        007: The World is Not Enough
...                                ...
18332              Zombie Army Trilogy
18333          Zombie Army 4: Dead War
18334  Zombie Driver: Immortal Edition
18335                   Zombie Vikings
18336                           Zotrix

[18337 rows x 1 columns]

In [7]:
# Scrape wiki site for xboxOne A through L titles
url = 'https://en.wikipedia.org/wiki/List_of_Xbox_One_games_(A%E2%80%93L)'
# Use pandas to read for tables
xboxOneAL_titles = pd.read_html(url)[1]['Title']
# Remove Bad Title Formats
formatted_titles = []
accepted_text = ''
for i in range(len(xboxOneAL_titles)):
    accepted_text = xboxOneAL_titles.iloc[i]['Title']
    if '•' in accepted_text:
        continue
    if '[' in accepted_text:
        continue
    if '–' in accepted_text:
        continue
    sep = '('
    accepted_text = accepted_text.split(sep, 1)[0]
    if '!' in accepted_text:
        continue
    elif '#' in accepted_text:
        continue
    if '�' in accepted_text:
        continue
    if '?' in accepted_text:
        continue
    if ')' in accepted_text:
        continue    
    formatted_titles.append(accepted_text)
    
xboxOneAL = pd.DataFrame(formatted_titles).drop_duplicates().reset_index(drop=True).iloc[1:]
xboxOneAL.columns = ['title']
xboxOneAL

                                title
1                   10 Second Ninja X
2                     101 Ways to Die
3              11-11: Memories Retold
4                                 140
5                         1001 Spikes
...                               ...
1264                    Lovely Planet
1265  Lovers in a Dangerous Spacetime
1266                           Lumini
1267                             Lumo
1268               Lumines Remastered

[1268 rows x 1 columns]

In [8]:
# Scrape wiki site for xboxOne A through L titles
url = 'https://en.wikipedia.org/wiki/List_of_Xbox_One_games_(M%E2%80%93Z)'
# Use pandas to read for tables
xboxOneMZ_titles = pd.read_html(url)[1]['Title']
# Remove Bad Title Formats
formatted_titles = []
accepted_text = ''
for i in range(len(xboxOneMZ_titles)):
    accepted_text = xboxOneMZ_titles.iloc[i]['Title']
    if '•' in accepted_text:
        continue
    if '[' in accepted_text:
        continue
    if '–' in accepted_text:
        continue
    sep = '('
    accepted_text = accepted_text.split(sep, 1)[0]
    if '!' in accepted_text:
        continue
    elif '#' in accepted_text:
        continue
    if '�' in accepted_text:
        continue
    if '?' in accepted_text:
        continue
    if ')' in accepted_text:
        continue    
    formatted_titles.append(accepted_text)
    
xboxOneMZ = pd.DataFrame(formatted_titles).drop_duplicates().reset_index(drop=True).iloc[1:]
xboxOneMZ.columns = ['title']
xboxOneMZ

                                       title
1                                Machinarium
2                           Mad Games Tycoon
3                              Madden NFL 15
4                              Madden NFL 16
5                              Madden NFL 17
...                                      ...
1252                          Zombie Vikings
1253      Zombieland: Double Tap - Road Trip
1254                              Zoo Tycoon
1255  Zoo Tycoon: Ultimate Animal Collection
1256              Zumba Fitness: World Party

[1256 rows x 1 columns]

In [9]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, xboxOneAL]).drop_duplicates().reset_index(drop=True)
titles = pd.concat([titles, xboxOneMZ]).drop_duplicates().reset_index(drop=True)
titles = titles.sort_values('title').reset_index(drop=True)
titles

                                     title
0                  .hack//G.U. Last Recode
1               007 From Russia With Love
2                             007 Legends
3                              007 Racing
4                          007: NightFire
...                                    ...
19356                             unStack
19357                             unWorded
19358                                 xXx
19359  xxxHolic: Watanuki no Izayoi Souwa
19360                             Ōkami HD

[19361 rows x 1 columns]

In [10]:
# Import dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser 
import time

In [11]:
# Setup Chromedriver
executable_path = {'executable_path': 'chromedriver/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# Test Scrape Loop for data from IGDB for Cloud Database
url = 'https://www.igdb.com/discover'
browser.visit(url)
import numpy as np
for i in range(len(titles)):
    data_row = []
    # Search Input
    try:
        browser.find_by_id('search').fill(f"{titles.iloc[i]['title']} \n")
        more_info_link = ''
    except:
        continue
    try:
        first_found = browser.find_by_id('search-results').find_by_css('div.game-result').first
        more_info_link = first_found.find_by_css('a')['href']
        data_row.append(more_info_link)
        browser.visit(first_found.find_by_css('a')['href'])
    except:
        data_row.append(more_info_link)
        continue
    time.sleep(3)
    # title
    title = ''
    try:
        title = browser.find_by_css('h1.banner-title').text[:-4]
        data_row.append(title)    
    except:
        continue
    # Systems
    systems = []
    try: 
        for block in browser.find_by_css('div.gamepage-tabs').find_by_css('a'):
            if 'platforms' in block['href']:
                systems.append(block.text)
        data_row.append(systems)
    except:
        data_row.append(systems)
    # Genres and Play Mode
    try:
        info_section_1 = browser.find_by_css('div.optimisly-game-extrainfo1')
        genres = []
        playMode = []
        for block in info_section_1.find_by_css('a.block'):
            if block['itemprop'] == 'playMode':
                playMode.append(block.text)
            elif block['itemprop'] == 'genre':
                genres.append(block.text)
        data_row.append(genres)
        data_row.append(playMode)
        # Themes Series and Player Perspectives
        info_section_2 = browser.find_by_css('div.optimisly-game-extrainfo2')
        themes = []
        series = ''
        playerPerspectives = []
        for block in info_section_2.find_by_css('a.block'):
            string = str(block['href'])
            if 'themes' in string:
                themes.append(block.text)
            if 'collections' in string:
                series = block.text
            if 'perspectives' in string:
                playerPerspectives.append(block.text)
        data_row.append(themes)
        data_row.append(series)
        data_row.append(playerPerspectives)
    except:
        continue
    # Image Link
    try:
        image = browser.find_by_css('img.img-responsive.cover_big')['src']
        data_row.append(image)
    except:
        continue
    # Member Rating
    try:
        critic_rating = browser.find_by_css('div.gamepage-gauge').find_by_css('svg').last.text
        if critic_rating == 'N/A':
            try:
                critic_rating = browser.find_by_css('div.gamepage-gauge').find_by_css('svg').first.find_by_css('text').first.text
            except:
                continue
    except:
        try:
            critic_rating = browser.find_by_css('div.gamepage-gauge').find_by_css('svg').first.find_by_css('text').first.text
        except:
            continue
    if critic_rating == 'N/A':
        continue
    data_row.append(critic_rating)
    # Game Description
    try:
        browser.find_by_css('div.gamepage-tabs').find_by_css('div')[6].find_by_css('span').click()
        game_description = browser.find_by_css('div.gamepage-tabs').find_by_css('div')[6].text
    except:
        try:
            game_description = browser.find_by_css('div.gamepage-tabs').find_by_css('div')[6].text
        except:
            continue
    if game_description == 'This game is missing a summary, register an account to add one.':
        continue
    if game_description == 'Official Website':
        continue
    if game_description == 'Hmm.  no websites found for this game. Care to add one?':
        continue        
    game_description = game_description.replace('\n', '').replace('...', '. ')
    data_row.append(game_description)
    # Append Row to DataFrame
    if i == 0:
        test_df = pd.DataFrame(np.reshape(data_row, (1,11)), columns = ['moreInfo','title', 'systems', 'genres',
                                                                        'playModes', 'themes', 'series', 'playerPerspectives',
                                                                        'imageLink', 'memberRating', 'gameDescription'])
        
    else:
        df_length = len(test_df)
        test_df.loc[df_length] = data_row
    print(f"{i/len(titles)}% rows have been iterated on...")
test_df

0.0% rows have been iterated on...
0.00015495067403543204% rows have been iterated on...
0.0002066008987139094% rows have been iterated on...
0.0002582511233923868% rows have been iterated on...
0.0003099013480708641% rows have been iterated on...
0.00046485202210629615% rows have been iterated on...
0.0005165022467847736% rows have been iterated on...
0.0006714529208202056% rows have been iterated on...
0.0007231031454986829% rows have been iterated on...
0.0007747533701771603% rows have been iterated on...
0.0008264035948556376% rows have been iterated on...
0.000878053819534115% rows have been iterated on...
0.0009813542688910696% rows have been iterated on...
0.0010330044935695471% rows have been iterated on...
0.0010846547182480244% rows have been iterated on...
0.0011363049429265017% rows have been iterated on...
0.001187955167604979% rows have been iterated on...
0.0012396053922834563% rows have been iterated on...
0.0012912556169619338% rows have been iterated on...
0.0013945560663188885% rows have been iterated on...
0.0014462062909973658% rows have been iterated on...
0.0016011569650327979% rows have been iterated on...
0.0016528071897112752% rows have been iterated on...
0.0017044574143897527% rows have been iterated on...
0.00175610763906823% rows have been iterated on...
0.0018077578637467073% rows have been iterated on...
0.001911058313103662% rows have been iterated on...
0.001962708537782139% rows have been iterated on...
0.0021176592118175713% rows have been iterated on...
0.0022726098858530035% rows have been iterated on...
0.002324260110531481% rows have been iterated on...
0.0024275605598884356% rows have been iterated on...
0.0024792107845669127% rows have been iterated on...
0.00253086100924539% rows have been iterated on...
0.0026341614586023448% rows have been iterated on...
0.0026858116832808223% rows have been iterated on...
0.002789112132637777% rows have been iterated on...
0.0028407623573162544% rows have been iterated on...
0.0028924125819947315% rows have been iterated on...
0.002944062806673209% rows have been iterated on...
0.00351221527813646% rows have been iterated on...
0.004545219771706007% rows have been iterated on...
0.004596869996384484% rows have been iterated on...
0.005113372243169258% rows have been iterated on...
0.005371623366561645% rows have been iterated on...
0.0064046278601311915% rows have been iterated on...
0.006611228758845101% rows have been iterated on...
0.007334331904343784% rows have been iterated on...
0.007592583027736171% rows have been iterated on...
0.007644233252414648% rows have been iterated on...
0.008160735499199422% rows have been iterated on...
0.008418986622591808% rows have been iterated on...
0.008883838644698104% rows have been iterated on...
0.00955529156551831% rows have been iterated on...
0.010020143587624606% rows have been iterated on...
0.011053148081194153% rows have been iterated on...
0.011259748979908063% rows have been iterated on...
0.011931201900728269% rows have been iterated on...
0.012344403698156087% rows have been iterated on...
0.016528071897112754% rows have been iterated on...
0.017251175042611436% rows have been iterated on...
0.017509426166003823% rows have been iterated on...
0.018594080884251848% rows have been iterated on...
0.018645731108930325% rows have been iterated on...
0.01931718402975053% rows have been iterated on...
0.0198336862765353% rows have been iterated on...
0.02045348897267703% rows have been iterated on...
0.02050513919735551% rows have been iterated on...
0.020969991219461803% rows have been iterated on...
0.02102164144414028% rows have been iterated on...
0.021073291668818758% rows have been iterated on...
0.021331542792211146% rows have been iterated on...
0.021383193016889623% rows have been iterated on...
0.02200299571303135% rows have been iterated on...
0.023759103352099582% rows have been iterated on...
0.02401735447549197% rows have been iterated on...
0.025050358969061517% rows have been iterated on...
0.027787820877020815% rows have been iterated on...
0.027839471101699292% rows have been iterated on...
0.02840762357316254% rows have been iterated on...
0.02866587469655493% rows have been iterated on...
0.028717524921233407% rows have been iterated on...
0.02928567739269666% rows have been iterated on...
0.03135168637983575% rows have been iterated on...
0.031454986829192705% rows have been iterated on...
0.03279789267083312% rows have been iterated on...
0.03450235008522287% rows have been iterated on...
0.03517380300604308% rows have been iterated on...
0.03522545323072156% rows have been iterated on...
0.03532875368007851% rows have been iterated on...
0.038531067610144104% rows have been iterated on...
0.04250813491038686% rows have been iterated on...
0.04638190176127266% rows have been iterated on...
0.05041061928619389% rows have been iterated on...
0.05134032333040649% rows have been iterated on...
0.05149527400444192% rows have been iterated on...
0.05170187490315583% rows have been iterated on...
0.05175352512783431% rows have been iterated on...
0.05185682557719126% rows have been iterated on...
0.05190847580186974% rows have been iterated on...
0.05196012602654822% rows have been iterated on...
0.05216672692526213% rows have been iterated on...
0.05227002737461908% rows have been iterated on...
0.05237332782397604% rows have been iterated on...
0.052424978048654515% rows have been iterated on...
0.05273487939672537% rows have been iterated on...
0.05278652962140385% rows have been iterated on...
0.05283817984608233% rows have been iterated on...
0.05294148029543928% rows have been iterated on...
0.05299313052011776% rows have been iterated on...
0.05304478074479624% rows have been iterated on...
0.053096430969474716% rows have been iterated on...
0.05314808119415319% rows have been iterated on...
0.05319973141883167% rows have been iterated on...
0.05325138164351015% rows have been iterated on...
0.053303031868188626% rows have been iterated on...
0.0533546820928671% rows have been iterated on...
0.05340633231754558% rows have been iterated on...
0.05345798254222406% rows have been iterated on...
0.05356128299158101% rows have been iterated on...
0.05361293321625949% rows have been iterated on...
0.05366458344093797% rows have been iterated on...
0.053716233665616446% rows have been iterated on...
0.053767883890294924% rows have been iterated on...
0.0538195341149734% rows have been iterated on...
0.053922834564330356% rows have been iterated on...
0.053974484789008834% rows have been iterated on...
0.05402613501368731% rows have been iterated on...
0.054129435463044266% rows have been iterated on...
0.054181085687722744% rows have been iterated on...
0.05449098703579361% rows have been iterated on...
0.054594287485150564% rows have been iterated on...
0.05474923815918599% rows have been iterated on...
0.054852538608542944% rows have been iterated on...
0.05490418883322142% rows have been iterated on...
0.0549558390578999% rows have been iterated on...
0.05500748928257838% rows have been iterated on...
0.055265740405970765% rows have been iterated on...
0.05531739063064924% rows have been iterated on...
0.05552399152936315% rows have been iterated on...
0.055885543102112495% rows have been iterated on...
0.05598884355146945% rows have been iterated on...
0.05604049377614793% rows have been iterated on...
0.05614379422550488% rows have been iterated on...
0.05624709467486184% rows have been iterated on...
0.056298744899540315% rows have been iterated on...
0.05635039512421879% rows have been iterated on...
0.05640204534889727% rows have been iterated on...
0.05645369557357575% rows have been iterated on...
0.0565569960229327% rows have been iterated on...
0.05660864624761118% rows have been iterated on...
0.056711946696968135% rows have been iterated on...
0.056763596921646606% rows have been iterated on...
0.05681524714632508% rows have been iterated on...
0.05686689737100356% rows have been iterated on...
0.05691854759568204% rows have been iterated on...
0.056970197820360516% rows have been iterated on...
0.05707349826971747% rows have been iterated on...
0.05712514849439595% rows have been iterated on...

0.057383399617788336% rows have been iterated on...
0.057435049842466813% rows have been iterated on...
0.05753835029182377% rows have been iterated on...
0.057590000516502246% rows have been iterated on...
0.0576933009658592% rows have been iterated on...
0.057796601415216156% rows have been iterated on...
0.057848251639894634% rows have been iterated on...
0.0581581529879655% rows have been iterated on...
0.058261453437322454% rows have been iterated on...
0.058416404111357886% rows have been iterated on...
0.058468054336036364% rows have been iterated on...
0.05851970456071484% rows have been iterated on...
0.058623005010071796% rows have been iterated on...
0.05877795568410723% rows have been iterated on...
0.058932906358142655% rows have been iterated on...
0.05898455658282113% rows have been iterated on...
0.05903620680749961% rows have been iterated on...
0.05908785703217809% rows have been iterated on...
0.059139507256856565% rows have been iterated on...
0.05944940860492743% rows have been iterated on...
0.05950105882960591% rows have been iterated on...
0.059552709054284385% rows have been iterated on...
0.05960435927896286% rows have been iterated on...
0.05970765972831982% rows have been iterated on...
0.059965910851712205% rows have been iterated on...
0.060172511750426115% rows have been iterated on...
0.0604307628738185% rows have been iterated on...
0.06048241309849698% rows have been iterated on...
0.06053406332317546% rows have been iterated on...
0.060585713547853935% rows have been iterated on...
0.06063736377253241% rows have been iterated on...
0.06068901399721089% rows have been iterated on...
0.06084396467124632% rows have been iterated on...
0.0608956148959248% rows have been iterated on...
0.06094726512060328% rows have been iterated on...
0.060998915345281755% rows have been iterated on...
0.06115386601931718% rows have been iterated on...
0.06120551624399566% rows have been iterated on...
0.061257166468674136% rows have been iterated on...
0.06136046691803109% rows have been iterated on...
0.06141211714270957% rows have been iterated on...
0.061463767367388046% rows have been iterated on...
0.062135220288208254% rows have been iterated on...
0.06218687051288673% rows have been iterated on...
0.062341821186922164% rows have been iterated on...
0.06254842208563607% rows have been iterated on...
0.06260007231031454% rows have been iterated on...
0.0627033727596715% rows have been iterated on...
0.06275502298434998% rows have been iterated on...
0.06285832343370694% rows have been iterated on...
0.06290997365838541% rows have been iterated on...
0.0629616238830639% rows have been iterated on...
0.06321987500645627% rows have been iterated on...
0.06332317545581323% rows have been iterated on...
0.06337482568049171% rows have been iterated on...
0.06347812612984867% rows have been iterated on...
0.06352977635452714% rows have been iterated on...
0.06358142657920562% rows have been iterated on...
0.0636330768038841% rows have been iterated on...
0.06368472702856258% rows have been iterated on...
0.06373637725324105% rows have been iterated on...
0.06378802747791953% rows have been iterated on...
0.06389132792727649% rows have been iterated on...
0.06399462837663344% rows have been iterated on...
0.0640979288259904% rows have been iterated on...
0.06425287950002583% rows have been iterated on...
0.0643045297247043% rows have been iterated on...
0.06435617994938278% rows have been iterated on...
0.06440783017406125% rows have been iterated on...
0.06445948039873974% rows have been iterated on...
0.0645111306234182% rows have been iterated on...
0.06456278084809669% rows have been iterated on...
0.06461443107277516% rows have been iterated on...
0.06466608129745365% rows have been iterated on...
0.06487268219616756% rows have been iterated on...
0.06538918444295233% rows have been iterated on...
0.0659056866897371% rows have been iterated on...
0.06595733691441558% rows have been iterated on...
0.06611228758845102% rows have been iterated on...
0.06616393781312949% rows have been iterated on...
0.06631888848716493% rows have been iterated on...
0.06642218893652187% rows have been iterated on...
0.06647383916120035% rows have been iterated on...
0.06662878983523578% rows have been iterated on...
0.06668044005991426% rows have been iterated on...
0.06699034140798513% rows have been iterated on...
0.0670419916326636% rows have been iterated on...
0.06730024275605599% rows have been iterated on...
0.06735189298073446% rows have been iterated on...
0.06740354320541295% rows have been iterated on...
0.0675068436547699% rows have been iterated on...
0.06771344455348381% rows have been iterated on...
0.06802334590155468% rows have been iterated on...
0.06848819792366097% rows have been iterated on...
0.06853984814833944% rows have been iterated on...
0.06859149837301792% rows have been iterated on...
0.06874644904705335% rows have been iterated on...
0.0688497494964103% rows have been iterated on...
0.06890139972108879% rows have been iterated on...
0.06895304994576726% rows have been iterated on...
0.06905635039512421% rows have been iterated on...
0.0691080006198027% rows have been iterated on...
0.06915965084448117% rows have been iterated on...
0.06921130106915965% rows have been iterated on...
0.06926295129383812% rows have been iterated on...
0.06931460151851661% rows have been iterated on...
0.06941790196787356% rows have been iterated on...
0.06946955219255203% rows have been iterated on...
0.06952120241723052% rows have been iterated on...
0.06957285264190899% rows have been iterated on...
0.06983110376530138% rows have been iterated on...
0.0700377046640153% rows have been iterated on...
0.07060585713547854% rows have been iterated on...
0.07065750736015702% rows have been iterated on...
0.07086410825887092% rows have been iterated on...
0.07096740870822787% rows have been iterated on...
0.07101905893290636% rows have been iterated on...
0.07107070915758483% rows have been iterated on...
0.07112235938226331% rows have been iterated on...
0.07117400960694178% rows have been iterated on...
0.07122565983162027% rows have been iterated on...
0.07169051185372656% rows have been iterated on...
0.07179381230308352% rows have been iterated on...
0.071845462527762% rows have been iterated on...
0.07194876297711895% rows have been iterated on...
0.07215536387583286% rows have been iterated on...
0.07220701410051134% rows have been iterated on...
0.07231031454986829% rows have been iterated on...
0.07246526522390373% rows have been iterated on...
0.0725169154485822% rows have been iterated on...
0.07256856567326068% rows have been iterated on...
0.07262021589793916% rows have been iterated on...
0.07267186612261764% rows have been iterated on...
0.0727751665719746% rows have been iterated on...
0.07282681679665307% rows have been iterated on...
0.07287846702133154% rows have been iterated on...
0.0743246733123289% rows have been iterated on...
0.07453127421104282% rows have been iterated on...
0.07463457466039977% rows have been iterated on...
0.07473787510975673% rows have been iterated on...
0.07489282578379217% rows have been iterated on...
0.07494447600847064% rows have been iterated on...